// ===========================
// APP LAYOUT UTILITIES
// ===========================

@use "sass:color";
@use "../variables" as *;
@use "../mixins" as *;

.app-view {
  display: flex;
  flex-direction: column;
  gap: $spacing-xxxl;
}

.section-header {
  @include section-header;
  .header-with-badge {
    display: flex;
    align-items: center;
    gap: $spacing-md;
  }
  .section-title {
    font-weight: 500;
    font-size: $font-size-xxl;
  }
}
.empty {
  padding: 20px;
  text-align: center;
  border-radius: $border-radius-lg;
  background-color: $gray-6;
  color: $gray-3;
  border: 1px solid $gray-5;
  &.empty-search {
    min-height: 180px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.search {
  max-width: 500px;
}
.search-results {
  margin: $spacing-md 0 $spacing-lg;
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-xs;
}
.selected-ingredients {
  margin: $spacing-md 0 $spacing-lg;
  .selected-title {
    font-weight: 500;
    font-size: $font-size-base;
    margin-bottom: $spacing-sm;
  }
}
