// ===========================
// TABS
// ===========================

@use "sass:color";
@use "../variables" as *;
@use "../mixins" as *;

// Tabler icons for future ref:
// Planner: list
// Schedule: calendar
// Groceries: shopping-bag

.tabs {
  position: sticky;
  bottom: $spacing-sm;
  z-index: 1;
  min-height: 36px;
  max-width: 100%;
  display: inline-flex;
  overflow: auto;
  margin-top: 20px;
  border-radius: $border-radius-max;
  background-color: $gray-6;
  border: 1px solid $gray-5;
  box-shadow: $shadow-md;
  button.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 5px;
    border: none;
    padding: 10px 20px;
    font-size: $font-size-sm;
    color: $gray-1;
    transition: $transition-base;
    border-radius: $border-radius-max;
    cursor: pointer;
    background-color: transparent;
    &.tab-active {
      background-color: $primary-color;
      color: #fff;
    }
    &:not(.tab-active) {
      &:hover {
        background-color: $gray-5;
      }
    }
  }
}