// ===========================
// TABS
// ===========================

@use "sass:color";
@use "../variables" as *;
@use "../mixins" as *;

.tabs {
  display: inline-flex;
  overflow: auto;
  margin-bottom: $spacing-xl;
  border-radius: $border-radius-max;
  background-color: $gray-6;
  border: 1px solid $gray-5;
  .tab {
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    padding: 5px 20px;
    transition: $transition-base;
    border-radius: $border-radius-max;
    cursor: pointer;
    background-color: transparent;
    &.tab-active {
      background-color: $primary-color;
      color: #fff;
    }
    &:not(.tab-active) {
      &:hover {
        background-color: $gray-5;
      }
    }
  }
}