// ===========================
// BADGES
// ===========================

@use "sass:color";
@use "../variables" as *;
@use "../mixins" as *;

.badge {
  display: inline-block;
  padding: $spacing-xs $spacing-sm;
  border-radius: $border-radius-max;
  font-size: 0.75rem;
  font-weight: $font-weight-medium;
  background-color: $secondary-color;
  color: color.adjust($secondary-color, $lightness: -50%);
  &-success {
    background-color: $success-color;
  }
  &-warning {
    background-color: $warning-color;
    color: $gray-1;
  }
  &-danger {
    background-color: $danger-color;
  }
  &-count {
    font-size: 0.7rem;
  }
  &-neutral {
    background-color: $gray-5;
    color: $gray-2;
    padding: 2px 7px;
  }
}